version: "3.9"

services:
  adts-system:
    image: udenis123/adts-system:latest
    container_name: adts-system
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  postgres:
    image: postgres:17-alpine
    container_name: adts-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped